* {
    box-sizing: border-box;
    text-align: center;
    /* margin: 0 auto; */
}
.main-container {
    width: 80%;
}
input[type=text] {
    border-radius: 5px;
    width: 100%;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav-links {
    margin: 1%;
}